li.artist-card
  img.artist-img(src=a.url)
  div.artist-text
    h3.artist-name= a.name
    p.artist-description= a.about
  if filter
    a.btn.delete(href="/artists/delete/"+a.id+"?filter="+filter) Delete
  else
    a.btn.delete(href="/artists/delete/"+a.id) Delete
  