doctype html
html
  head
    title Artists
    link(href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet")
    link(href="/css/styles.css" type="text/css" rel="stylesheet")
    link(href="/css/artist.css" type="text/css" rel="stylesheet")
  body
    header 
      div
        a.btn(href="/login") Logout
    main
      include partials/search-box.pug
      include partials/results.pug
    script(type="text/javascript" src="/js/script.js")
